:root {
  --header-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #6b63ff;
  --secondary-color: #f9f7fd;
  --bg-color: #16101a;
}

body {
  font-family: var(--secondary-font);
  background: var(--bg-color);
  color: var(--secondary-color);
}

h1 {
  font-family: var(--header-font);
  font-size: 80px;
}

h2 {
  font-family: var(--header-font);
  font-size: 64px;
}

h3 {
  font-family: var(--header-font);
  font-size: 36px;
}

h4 {
  font-family: var(--header-font);
  font-size: 24px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

hr {
  background-color: #fff;
  border-top: 2px dashed var(--primary-color);
}

.hero {
  background-image: url("/images/bg.png");
  padding: 250px 20px;
  text-align: center;
}

.hero h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
}

.hero p {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  color: #272142;
}

.about-section {
  padding: 80px 20px 50px 20px;
  line-height: 30px;
}

.portfolio-section {
  padding: 50px 20px;
  line-height: 30px;
}

.portfolio-section .work-thumbnail {
  background-color: var(--secondary-color);
}

.portfolio-section .work-img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.portfolio-section .see-more {
  color: var(--primary-color);
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  display: block;
}

.portfolio-section .see-more:hover {
  color: var(--secondary-color);
  text-decoration: underline;
  font-style: italic;
}

.btn-branding {
  background: var(--primary-color);
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 50px;
}

footer {
  margin: 60px 0;
}

footer .contact-section p {
  font-size: 20px;
}

footer .email-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 32px;
  font-family: var(--header-font);
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-links a {
  color: var(--primary-color);
  font-size: 24px;
  margin: 0 20px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--secondary-color);
}

@media (max-width: 1000px) {
  h1 {
    font-size: 40px;
    line-height: 80px;
  }

  h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
  }

  .hero {
    padding: 80px 15px 80px 15px;
  }

  .hero p {
    font-size: 30px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .btn-branding {
    font-size: 15px;
    padding: 10px 15px;
  }

  footer .contact-section {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 20px 20px;
  }

  footer .contact-section a {
    font-size: 24px;
  }

  footer h3 {
    font-size: 22px;
  }

  footer p {
    font-size: 15px;
  }
}
