:root {
  --header-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #6b63ff;
  --secondary-color: #f9f7fd;
}

body {
  font-family: var(--secondary-font);
}

h1 {
  font-family: var(--header-font);
  font-size: 96px;
}

h2 {
  font-family: var(--header-font);
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  padding: 160px 20px;
  text-align: center;
}

.hero h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
}

.hero p {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  color: #272142;
}

.btn-branding {
  background: var(--primary-color);
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 4px;
}

.app-description {
  padding: 120px 60px;
}

.btn-app-branding {
  color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  border: 1px solid var(--primary-color);
  padding: 15px 30px;
  border-radius: 4px;
}

.page-header {
  padding: 160px 20px;
}

.page-header h1 {
  font-size: 64px;
  line-height: 80px;
}

.page-header h2 {
  font-size: 18px;
  font-weight: bold;
}

.page-header h3 {
  font-size: 24px;
  font-weight: bold;
}

.jowana {
  border-radius: 8px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
    line-height: 80px;
  }

  .hero {
    padding: 80px 15px;
  }

  .hero p {
    font-size: 30px;
  }

  .hero h2 {
    font-size: 20px;
  }

  h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
  }

  .app-description {
    padding: 0px 15px;
    text-align: center;
  }

  .page-header {
    padding: 10px 10px;
    text-align: center;
  }
}
